<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.technoidtintin.android.justdoit">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <receiver android:name="com.technoidtintin.android.justdoit.ToDoListWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/to_do_list_widget_info" />
        </receiver>

        <activity
            android:name="com.technoidtintin.android.justdoit.Activities.CompletedTaskActivity"
            android:label="Reports"
            android:parentActivityName="com.technoidtintin.android.justdoit.Activities.MainActivity">
        </activity>
        <activity
            android:name="com.technoidtintin.android.justdoit.Activities.AddTaskActivity"
            android:parentActivityName="com.technoidtintin.android.justdoit.Activities.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.technoidtintin.android.justdoit.Activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.technoidtintin.android.justdoit.NotficationIntentService"
            android:exported="false" />
    </application>

</manifest>